{namespace et=ArbkomEKvW\Evangtermine\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <f:render partial="Searchform" arguments="{_all}" />
	
	<et:etpager totalItems="{events.metaData.totalItems}" itemsPerPage="{etkeys.itemsPerPage}" currentPage="{etkeys.pageID}"/>
	
	<f:comment>Haupt-Schleife für Events</f:comment>
	<f:for each="{events.items}" as="event" iteration="iterator">

        <f:if condition="{event.monthbar}!='0'">
            {et:tag(name: "div", class: "monthbar", node: event.monthbar)}
        </f:if>
			
		<f:if condition="{iterator.isOdd}">
			<f:then><div class="et_content_row odd"></f:then>
			<f:else><div class="et_content_row even"></f:else>
		</f:if>
			<div class="et_content_date"><span class="et_tag">{event.DATUM2}<br>{event.LITURG_BEZ}</span></div>
			<div class="et_content_title">
			<f:if condition="{settings.opmode_detailpage}">
			<f:then>
				<f:link.typolink parameter="{settings.opmode_detailpage}" class="et_link_title" useCacheHash="1" additionalParams="&tx_evangtermine_list[ID]={event.ID}&tx_evangtermine_list[action]=show&tx_evangtermine_list[controller]=Eventcontainer">{event._event_TITLE}</f:link.typolink>
			</f:then>
			<f:else>
				<f:link.typolink parameter="{pageId}" class="et_link_title" useCacheHash="1" additionalParams="&tx_evangtermine_list[ID]={event.ID}&tx_evangtermine_list[action]=show&tx_evangtermine_list[controller]=Eventcontainer">{event._event_TITLE}</f:link.typolink>
			</f:else>
			</f:if>
				<f:if condition="{et:str(on:event._event_SHORT_DESCRIPTION)}">
				<br>{et:tag(class: "et_description", node: event._event_SHORT_DESCRIPTION)}
				</f:if>
				
				<br><span class="et_city">{event._place_CITY}: </span>
                                {et:tag(class: "et_placename", node: event._place_NAME)}
                                {et:tag(class: "et_personname", node: event._person_NAME)}
                                {et:tag(class: "et_content_user", node: event._user_REALNAME)}
			</div>
		</div>
		
	</f:for>
	<f:comment>Ende Haupt-Schleife für Events</f:comment>
	
	<et:etpager totalItems="{events.metaData.totalItems}" itemsPerPage="{etkeys.itemsPerPage}" currentPage="{etkeys.pageID}"/>
</f:section>