{namespace et=ArbkomEKvW\Evangtermine\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<f:debug title="etkeys">{etkeys}</f:debug>

<p>Es wurden {events.metaData.totalItems} Veranstaltungen gefunden.</p>

<ul>
<f:for each="{events.items}" as="event">
	<li><et:attr on="{event._event_TITLE}" name="Label" />: {event._event_TITLE}</li>
</f:for>
</ul>

<et:etpager 
	totalItems="{events.metaData.totalItems}" itemsPerPage="{etkeys.itemsPerPage}"
	currentPage="{etkeys.pageID}"
/>

</f:section>