{namespace et=ArbkomEKvW\Evangtermine\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<f:if condition="{event.ID}">
	<f:then>

	<div id="et_container">

		<div id="et_content_container">
			<div id="et_detail_header">
				<div class="et_content_row et_headlinks">
					<div class="et_detail_backlink">
						<a href="javascript:history.back()" style="background-image:url(//{eventhost}/bundles/vket/images/backlinkbg.png);">Zurück</a>
					</div>
					<div class="et_sharefunctions">
						<a target="_blank" href="//{eventhost}/ical-{event.ID}"><img align="absmiddle" border="0" title="als Kalender-Ereignisdatei downloaden" alt="als Kalender-Ereignisdatei downloaden" src="//{eventhost}/bundles/vket/images/ical.gif"></a>&nbsp;
						<a target="_blank" href="//{eventhost}/einladung-{event.ID}"><img align="absmiddle" border="0" title="als E-Mail verschicken" alt="als E-Mail verschicken" src="//{eventhost}/bundles/vket/images/email.gif"></a>&nbsp;
						<a target="_blank"	href="//{eventhost}/teilen-auf-facebook-{event.ID}"><img align="absmiddle" border="0" title="Auf Facebook posten" alt="Auf Facebook posten"	src="//{eventhost}/bundles/vket/images/facebook.gif"></a>&nbsp;
						<a target="_blank" href="//{eventhost}/teilen-auf-twitter-{event.ID}"><img align="absmiddle" border="0" title="twittern" alt="twittern" src="//{eventhost}/bundles/vket/images/twitter.gif"></a>&nbsp;
						<a href="javascript:window.print();"><img align="absmiddle"	border="0" title="drucken" alt="drucken" src="//{eventhost}/bundles/vket/images/print.png"></a>
					</div>
				</div>
				<h1 id="et_detail_title">{event._event_TITLE}</h1>
				<div id="et_detail_date">{event.DATUM2}</div>
			</div>
			
			<div class="et_content_row" id="et_field_PLACE_ID">
				<div class="et_content_detaillabel">Ort</div>
				<div class="et_content_detailvalue">
					<et:tag node="{event._place_NAME}" />
					<f:if condition="{et:str(on:event._place_STREET_NR)}">
						<br><et:tag node="{event._place_STREET_NR}" />
						<br><et:tag node="{event._place_ZIP}" /> <et:tag node="{event._place_CITY}" />
					</f:if>
					<f:comment>
					<f:if condition="{et:str(on:event._place_INFO)}">
						<br>
						<f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc"><et:tag node="{event._place_INFO}" /></f:cObject>
					</f:if>
					</f:comment>
					<f:if condition="{et:str(on:event._place_IMAGE)}">
						<br>
						<img src="{event._place_THUMBNAIL}" id="et_place_image_th" style="display: inline;">
						<img src="{event._place_IMAGE}" id="et_place_image" style="display: none;">
					</f:if>
				</div>
			</div>
			
			<f:alias map="{etlist: {
							_event_SHORT_DESCRIPTION: event._event_SHORT_DESCRIPTION,
							_event_EVENTTYPE: event._event_EVENTTYPE,
							_event_PEOPLE: event._event_PEOPLE,
							_LONG_DESCRIPTION: event._event_LONG_DESCRIPTION,
							_event_LINK: event._event_LINK,
							_event_EMAIL: event._event_EMAIL,
							_event_TEXTLINE_1: event._event_TEXTLINE_1,
							_event_TEXTLINE_2: event._event_TEXTLINE_2,
							_event_TEXTLINE_3: event._event_TEXTLINE_3,
							_event_TEXTLINE_4: event._event_TEXTLINE_4,
							_event_TEXTLINE_5: event._event_TEXTLINE_5,
							_event_TEXTBOX_1: event._event_TEXTBOX_1,
							_event_TEXTBOX_2: event._event_TEXTBOX_2,
							_event_TEXTBOX_3: event._event_TEXTBOX_3
							}}">		

				<f:for each="{etlist}" as="evt" key="key">
					<f:if condition="{et:str(on:evt)}">
						<div class="et_content_row" id="et{key}">
							<div class="et_content_detaillabel"><et:attr on="{evt}" name="Label" /></div>
							<div class="et_content_detailvalue">
								<f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc"><et:tag node="{evt}" /></f:cObject>
							</div>
						</div>
					</f:if>
				</f:for>
			</f:alias>
			
			<f:if condition="{et:str(on:event._person_NAME)}">
				<div class="et_content_row" id="et_person_NAME">
					<div class="et_content_detaillabel">Ansprechpartner</div>
					<div class="et_content_detailvalue">
					<et:tag node="{event._person_NAME}" />
					<f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc">
						<f:if condition="{et:str(on:event._person_EMAIL)}">
							mailto:{event._person_EMAIL}
						</f:if>
						<f:if condition="{et:str(on:event._person_CONTACT)}">
							<et:tag node="{event._person_CONTACT}" />
						</f:if>
					</f:cObject>
					</div>
				</div>
			</f:if>
			
			<f:if condition="{et:str(on:event._event_FEEDBACK_ID)}">
				<div class="et_content_row" id="et_event_FEEDBACK_ID">
					<div class="et_content_detaillabel"><et:attr on="{event._event_FEEDBACK_ID}" name="Label" /></div>
					<div class="et_content_detailvalue">
						<a href="javascript:;" OnClick="window.open('//{eventhost}/rueckmeldeformular{event._event_FEEDBACK_ID}-{event.ID}', 'Rückmeldeformular','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=850,height=650,top=10,left=200');" class="feedbacklink et_link" >für die Veranstaltung anmelden</a>
					</div>
				</div>
			</f:if>
 			
			<div class="et_content_row" id="et_detail_position">
					<div class="et_content_detaillabel"></div>
					<div class="et_content_detailvalue">
						<a	onclick="window.open('//{eventhost}/veranstaltungsort_{event._place_ID}','Karte','scrollbars=yes,resizable=yes,width=600,height=500'); return false;"
							title="Auf Karte anzeigen" href="//{eventhost}/veranstaltungsort_{event._place_ID}" target="_blank">Ort auf Karte anzeigen</a>
					</div>
			</div>

			<div class="et_content_row et_user">
				<div class="et_content_detaillabel">Veranstalter</div>
				<div class="et_content_detailvalue">
				<et:tag name="span" node="{event._user_REALNAME}"/>
				<f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc">
				
					<f:if condition="{et:str(on:event._user_DESCRIPTION)}"><et:tag node="{event._user_DESCRIPTION}"/></f:if>
					<et:tag node="{event._user_STREET_NR}"/>
					<et:tag node="{event._user_ZIP}"/>	<et:tag node="{event._user_CITY}"/>
					
					<f:if condition="{et:str(on:event._user_EMAIL)}">mailto:{event._user_EMAIL}</f:if>
					
					<f:if condition="{et:str(on:event._user_CONTACT)}">{event._user_CONTACT}</f:if>
				</f:cObject>
				</div>
			</div>
 
		</div>
	</div>
	</f:then>
	<f:else>
		<p>Diese Veranstaltung existiert nicht.</p>
	</f:else>
</f:if>
</f:section>