{namespace et=ArbkomEKvW\Evangtermine\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
<div id="et_container"> 
   <div id="et_content_container">

	<f:for each="{events.items}" as="event">
	
	<div class="et_content_row et_even teaserrow highlight">
    	<div class="et_content_date teaserdate"><span class="et_tagzeit">{event.DATUM2}</span></div>
        <div class="et_content_title">
        	<span class="teaserlink">
        	<f:if condition="{settings.opmode_detailpage}">
        	<f:then>
                <f:link.typolink parameter="{settings.opmode_detailpage}" useCacheHash="1" additionalParams="&tx_evangtermine_detail[ID]={event.ID}&tx_evangtermine_detail[action]=show&tx_evangtermine_detail[controller]=Eventcontainer">{event._event_TITLE}</f:link.typolink>
        	</f:then>
        	<f:else>
                <f:link.typolink parameter="{pageId}" useCacheHash="1" additionalParams="&tx_evangtermine_list[ID]={event.ID}&tx_evangtermine_list[action]=show&tx_evangtermine_list[controller]=Eventcontainer">{event._event_TITLE}</f:link.typolink>
        	</f:else>
        	</f:if>
        	</span>
        	<span class="teasertext">
        	<f:if condition="{et:str(on:event._person_NAME)}">
        		<br><span class="et_personname">{event._person_NAME}</span><br>
			</f:if>
			<f:if condition="{et:str(on:event._place_NAME)} != 'Ohne Ort'">
        		<span class="et_city">{event._place_CITY}</span>
				<span class="et_placename teaserplace">{event._place_NAME}</span>
			</f:if>
        	</span>
        </div>
    </div>
	
	</f:for>
   
   </div>
</div>
	
</f:section>