<f:if condition="{pgr.pages} > 1">

<div class="et_pager_container">
	
	 <f:comment>Left side browser</f:comment>
	 <f:if condition="{pgr.lBrowser} == 1">
		<f:link.action controller="Eventcontainer" action="list" arguments="{pageID: 1}" title="Seite 1" noCache="1">[1]</f:link.action>
	 	<f:link.action controller="Eventcontainer" action="list" arguments="{pageID: pgr.lBrowserNext}" title="Zurück" noCache="1">«</f:link.action>	 
	 </f:if>
	 	
	<f:for each="{pgr.pgrBarValues}" as="val">
		<f:if condition="{pgr.current} != {val}">
			<f:then>
				<f:link.action controller="Eventcontainer" action="list" arguments="{pageID: val}" title="Seite {val}" noCache="1">{val}</f:link.action>
			</f:then>
			<f:else>
				<span class="current">{val}</span>
			</f:else>
		</f:if>
	</f:for>
	
	<!-- 
	<a href="/tmp/xmlscript/xmlscript.php?pageID=3" title="Weiter">»</a>
	<a href="/tmp/xmlscript/xmlscript.php?pageID=29" title="Seite 29">[29]</a>
	 -->
	 <f:comment>Right side browser</f:comment>
	 <f:if condition="{pgr.rBrowser} == 1">
	 	<f:link.action controller="Eventcontainer" action="list" arguments="{pageID: pgr.rBrowserNext}" title="Seite {pgr.rBrowserNext}" noCache="1">»</f:link.action>
	 	<f:link.action controller="Eventcontainer" action="list" arguments="{pageID: pgr.pages}" title="Seite {pgr.pages}" noCache="1">[{pgr.pages}]</f:link.action>
	 </f:if>
		
</div>

</f:if>

<f:comment>
<f:debug>{pgr}</f:debug>
</f:comment>
