<div id="et_filter_container">

	<f:form method="post" action="list" controller="Eventcontainer" noCache="1">
		<div class="et_filter_headline">Auswahl:</div>

		<div class="et_filter_main">
			<div class="et_filter_block_left">
				<div class="et_filter_row_left">
					<f:form.select name="highlight" id="highlight" size="1" options="{high: 'Nur Highlights', all: 'Alle Veranstaltungen'}" />
				</div>
				<div class="et_filter_row_left">
				</div>
				<div class="et_filter_row_left">
				</div>
			</div>
			<div class="et_filter_block_right">
				<div class="et_filter_row_right">
					Suchbegriff: 
				</div>
				<div class="et_filter_row_right">
					Datum: 
				</div>
				<div class="et_filter_row_right">
					Anzeigen:  pro Seite von {events.metaData.totalItems}
				</div>
			</div>
		</div>
		<div class="et_filter_subrow">
			<f:form.button class="et_submit" name="sf_search" value="1">Suche</f:form.button>
			<f:form.button class="et_reset" name="sf_reset" value="1">Zurücksetzen</f:form.button>
		</div>

	</f:form>
</div>